.skills-container{
    margin: 2rem 0;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center; 
}

.skills-container img{
    width: 5rem;
    height: 5rem;
    margin: 1rem;
}
.skills-container h2{
    margin-bottom: 2rem;
    font-size: 2rem;
}
.skills-container h3{
    text-align: center;
    margin-bottom: 0.8rem;
    font-size: 1.3rem;
}

.tools-container{
    padding: 1rem;
}

.languages-container{
    padding: 1rem;
}

.tech-container{
    padding: 1rem;
}

.other-container{
    padding: 1rem;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center
  }
  
  .imgmine {
    max-width: 100%;
    max-height: 60%;
  border-radius: 50%;
  overflow: hidden;
  background-color: blue;
  /* commented for demo
  float: left;
  margin-left: 125px;
  margin-top: 20px;
  */
  
  /*for demo*/
  display:inline-block;
  vertical-align:middle;
  }
  
  .image {
    flex-basis: 40%;
    height: 60%
  }
  
  .text {
    font-size: 20px;
    padding-left: 20px;
  }

  h1 {
    display: block;
    font-size: 3em;
    margin-top: 0.67em;
    margin-bottom: 0.67em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
  }

  .text {
    width: 55%;
    text-align: center;
  }

  .mine {
    font-size: 25px;
    font-family: cursive;
  }

  
  .about-me {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    padding: 0 20px;
    box-sizing: border-box;
  }
  
  .about-me .content {
    max-width: 80%;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
  }
  
  .about-me .content .image-container {
    flex: 0 0 auto;
    margin-right: 13vh;
    width: 50vh;
    height: 50vh;
    border-radius: 50%;
    overflow: hidden;
    transition: transform 0.3s;
  }
  
  .about-me .content .image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .about-me .content .image-container:hover {
    transform: rotate(360deg);
  }
  
  .about-me .content .text-container {
    flex: 1 1 auto;
  }
  
  .about-me h2 {
    font-size: 6vh;
    margin: 0 0 1vh;
    align-items: center;
  }
  
  .about-me p {
    font-size: 2.1vh;
    margin: 0;
    line-height: 1.6;
  }

  
  @media screen and (max-width: 740px) {
    .about-me {
      display: grid;
      justify-content: center;
      align-items: center;
      height: 62vh;
      padding: 0 0px;
      box-sizing: border-box;
    }

    .about-me .content .image-container {
      flex: 0 0 auto;
      margin-right: 1vh;
      width: 0vh;
      height: 0vh;
      border-radius: 50%;
      overflow: hidden;
      transition: transform 0.3s;
    }

    .about-me .content .text-container {
      max-width: 99%;
      flex: 0 0 auto;      
    }

    .about-me .content {
      max-width: 99%;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .about-me p {
      font-size: 1.8vh;
      margin: 0;
      line-height: 1.3;
    }
}
