.project-title h1{
    text-align: center;
    margin-top: 2rem;
    font-weight: 700;
    font-size: 2.5rem;
} 

.card-container {
    padding: 1vw;
    justify-content: space-around;
    flex-flow: row wrap;
}

.card {
    padding: 0.8rem 0.8rem;
    border: 1px solid white;
    margin: 1.5rem;
    width: 30%;
    position: relative;
    /* background-image: url("https://www.freecodecamp.org/news/content/images/size/w2000/2022/05/pexels-jack-hawley-57905.jpg"); */
    background:  rgba(40, 30, 103, 0.28);
}

.card hr {
    height: 5px;
	border: 0;
	box-shadow: 0 5px 5px -5px white
    inset;
}
  
.card-header {
    display: flex;
    justify-content: space-between;
    flex-flow: row wrap;
}

.card-header-heading {
    max-width: 70%;
}
  
.card-icons {
    display: flex;
    justify-content: space-between;
    padding-bottom: 1rem;
}

.card-icons img{
    width: 3rem;
    height: 3rem;
}

.card-para { 
    padding-bottom: 5rem;
}

.card-button {
    position: absolute;
    /* margin: auto;
    width: 50%; */
    bottom: 0.5rem;
    left: 30%;
}

.card-header-heading h2 {
    color: #5B8FB9;
    padding-bottom: 0.8rem;
}



.container-wrapper {
    justify-content: space-between;
    margin: 4vh;
  }

  .container {
    max-width: 98%;
    width: 300vh;
    height: 40vh;
    margin: 0 auto;
    background-color: #34495e;
    padding: 2vh;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    border-radius: 3vh;
    transition: box-shadow 0.3s, transform 0.3s;
  }
  
  .container:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4);
    transform: scale(1.02);
  }
  
  .container img {
    max-width: 90%;
    height: auto;
    border-radius: 1vh;
    margin-right: 5vh;
  }
  
  .container .content {
    flex-grow: 1;
  }
  
  .container h2 {
    font-size: 3vh;
    margin: 0 0 2vh;
  }
  
  .container p {
    margin: 0 0 2vh;
    font-size: 2vh;
  }
  
  .container .button {
    display: inline-block;
    background-color: #e67e22;
    color: #ffffff;
    padding: 2vh 3vh;
    text-decoration: none;
    border-radius: 2vh;
    position: relative;
    overflow: hidden;
    z-index: 1;
    font-size: 2vh;
  }
  
  .container .button:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.1);
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.3s;
    z-index: -1;
  }
  
  .container .button:hover:before {
    transform: scaleX(1);
  }
  
  .container .button:after {
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(-50%, -50%);
    width: 40px;
    height: 40px;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 50%;
    opacity: 0;
    transition: opacity 0.3s;
  }
  
  .container .button:hover:after {
    opacity: 1;
  }

  @media screen and (max-width: 740px) {
    .card-container{
        max-width: 100%;
        width: 200vw;
        margin: auto;
        grid-template-columns: 1fr;
    }

    .card {
        min-width: 90%;
    }

    .container img {
      max-width: 0%;
      height: auto;
      border-radius: 1vh;
      margin-right: 5vh;
    }

    .container h2 {
      font-size: 2vh;
      margin: 0 0 2vh;
    }
    
}
